<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="log.dir" value="./log"/>
    <property name="log.name" value="amqp"/>

    <jmxConfigurator/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.dir}/${log.name}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.dir}/%d{yyyy-MM,aux}/${log.name}.%d.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <logger name="com.github.knightliao">
        <level value="DEBUG"/>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="logfile"/>
    </root>

</configuration>

